{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}
    <h2></h2>
    <section class="nameMotor">
        <p class="box"> {{ vehicles.name }} <br> {{ vehicles.brand }} <br> {{ vehicles.model }} </p>
    </section>
    <div class="flex parts">
        <h2>Temps d'utilisation total : {{ vehicles.usedHour }}H</h2>
        {% for part in parts %}
        <div class="namePart">
            <label for="{{ part.id }}">{{ part.name }}</label>
            <progress value = "{{ vehicles.usedHour }}" max = "{{ part.lifespan }}"> </progress>
            <input type="checkbox" name="my-checkbox" id="{{ part.id }}">
        </div>
        {% endfor %}
        <button class="buttonReplace" type="submit">Remplacer pièce</button>
        <a class="buttonAddPiece" href="{{ path('part_new') }}">Ajouter pièce</a>

    </div>

{% endblock %}
