{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}
    <h1>Part index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lifespan</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for part in parts %}
            <tr>
                <td>{{ part.id }}</td>
                <td>{{ part.name }}</td>
                <td>{{ part.lifespan }}</td>
                <td>
                    <a href="{{ path('part_show', {'id': part.id}) }}">show</a>
                    <a href="{{ path('part_edit', {'id': part.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('part_new') }}">Create new</a>
{% endblock %}
