{% extends 'base.html.twig' %}

{% block title %}Motorbox - Pièce{% endblock %}

{% block body %}
    <h1>Pièces</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ part.name }}</td>
            </tr>
            <tr>
                <th>Durée de vie</th>
                <td>{{ part.lifespan }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('part_index') }}">Retour à la liste</a>

    <a href="{{ path('part_edit', {'id': part.id}) }}">éditer</a>

    {{ include('part/_delete_form.html.twig') }}
{% endblock %}
