<div class="form-container">
    {{ form_start(form, {
        attr: {id: 'vehicle_form'}
    }) }}
        <div>
            {{ form_widget(form.name, {
                    attr: {placeholder: 'Nom'}
            }) }}
        </div>
        <div>
            {{ form_widget(form.brand, {
                attr: {placeholder: 'Marque'}
            }) }}
        </div>
        <div>
            {{ form_widget(form.model, {
                attr: {placeholder: 'Modèle'}
            }) }}
        </div>
        <div>
            {{ form_widget(form.productYear, {
                attr: {placeholder: 'Année'}
            }) }}
        </div>
        <div>
            {{ form_widget(form.usedHour, {
                attr: {placeholder: 'Heure utiliser'}
            }) }}
        </div>
        <div>
            {{ form_widget(form.idMotorbox, {
                attr: {placeholder: 'ID Motorbox'}
            }) }}
        </div>
    {{ form_end(form) }}
</div>
<div class="button-bar">
    {% if showDeleteForm %}
        {{ include('vehicle/_delete_form.html.twig') }}
    {% endif %}
    <button type="submit" form="vehicle_form" class="button form-button">{{ button_label|default('Sauvegarder') }}</button>
</div>
