<div class="container-column-center ">
    <div class="form-content">
        {{ form_start(form, {
            attr: {
                class: 'form-vehicle'
                }
        }) }}
            {{ form_widget(form.name, {
                label: 'Nom',
                attr: {
                    placeholder: 'Nom'
                    }
            }) }}<br>
            {{ form_widget(form.brand, {
                label: 'Marque',
                attr: {
                    placeholder: 'Marque'
                }
            }) }}<br>
            {{ form_widget(form.model, {
                label: 'Modele',
                attr: {
                    placeholder: 'Modèle'
                    }
            }) }}<br>
            {{ form_widget(form.productYear, {
                label: 'Année',
                attr: {
                    placeholder: 'Année'
                    }
            }) }}<br>
            {{ form_widget(form.usedHour, {
                label: 'Heure utiliser',
                attr: {
                    placeholder: 'Heure utiliser'
                }
            }) }}<br>
            {{ form_widget(form.idMotorbox, {
                label: 'IdMotorbox',
                attr: {
                    placeholder: 'ID Motorbox'
                    }
            }) }}
        {{ form_end(form) }}
    </div>
    <div class="button-bar">
        {{ include('vehicle/_delete_form.html.twig') }}
        <button class="button form-button">{{ button_label|default('Sauvegarder') }}</button>
    </div>
</div>
