{% extends 'base.html.twig' %}

{% block title %}Modifier {{ vehicle.name }}{% endblock %}

{% block body %}

    <div class="text-align-center">
        <h1 class="title-form">Modifier {{ vehicle.name }}</h1>

        {{ include('vehicle/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a id="button-list" href="{{ path('vehicle_index') }}">Retourner à la liste</a>

        {{ include('vehicle/_delete_form.html.twig') }}
    </div>
    {% include "_navbar.html.twig" %}
{% endblock %}
