{% extends 'base.html.twig' %}

{% block title %}Modifier {{ vehicle.name }}{% endblock %}

{% block body %}
    <h1>Modifier {{ vehicle.name }}</h1>

    {{ include('vehicle/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('vehicle_index') }}">Retourner à la liste</a>

    <div class="">
        {{ include('vehicle/_delete_form.html.twig') }}
    </div>
    {% include "_navbar.html.twig" %}
{% endblock %}
