{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Véhicules{% endblock %}

{% block body %}
    <div class="container-column align-items-center vehicleList">
        <div class="addVehicle" >
            <a href="{{ path('vehicle_new') }}"><img src="{{ asset('build/images/icons8.svg') }}"></img></a>
        </div>
        {% for vehicle in user.vehicles %}
            <a class="button cards" href="{{ path('vehicle_parts', {vehicle: vehicle.id}) }}" >
                <p>{{ vehicle.name }}</p>
                <p>{{ vehicle.brand }} {{ vehicle.model }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
