{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <section class="home">
        {% for vehicle in user.vehicles %}
            <a class="container-link" href="{{ path('vehicle_parts', {vehicle: vehicle.id}) }}" ><p class="box">{{ vehicle.name }}<br>{{ vehicle.brand }} {{ vehicle.model }}</p></a>
        {% endfor %}
            <a class="aBox container-link" href="{{ path('vehicle_new') }}"> Ajouter </a>
    </section>

    {% include "_navbar.html.twig" %}
{% endblock %}
