{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}

    <section class="nameMotor">
        <p class="box"> {{ vehicle.0.name }} <br> {{ vehicle.0.brand }} <br> {{ vehicle.0.model }} </p>
    </section>
    <div class="flex parts">
        <h2>Temps d'utilisation total : {{ vehicle.0.usedHour }}H</h2>
        {% for part in parts %}
        <div class="namePart">
            <label for="{{ part.id }}">{{ part.name }}</label>
            <input type="checkbox" name="my-checkbox" id="{{ part.id }}">
        </div>
        <progress value = "{{ vehicle.0.usedHour }}" max = "{{ part.lifespan }}"></progress>
        {% endfor %}
        <a class="buttonReplace" href="">Remplacer pièce</a>
        <a class="buttonAddPiece" href="">Ajouter pièce</a>

    </div>

{% endblock %}
