{% extends 'base.html.twig' %}

{% block title %}Motorbox - Pièces{% endblock %}

{% block body %}
    <h1>Pièce</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ part.name }}</td>
            </tr>
            <tr>
                <th>Durée de vie</th>
                <td>{{ part.lifespan }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('vehicle_parts', {vehicle: vehicle.id}) }}">Retour à la liste</a>

    <a class="button" href="{{ path('vehicle_parts_edit', {vehicle: vehicle.id, part: part.id}) }}">éditer</a>

    {{ include('vehicle/_delete_parts_form.html.twig') }}
{% endblock %}
