{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}
    <h2></h2>
    <section class="nameMotor">
        <p class="box"> {{ vehicle.id.name }} <br> {{ vehicle.id.brand }} <br> {{ vehicle.id.model }} </p>
    </section>
    <div class="flex parts">
        <h2>Temps d'utilisation total : {{ vehicle.0.usedHour }}H</h2>
        {% for part in parts %}
        <div class="namePart">
            <label for="{{ part.id }}">{{ part.name }}</label>
            <progress value = "{{ vehicle.id.usedHour }}" max = "{{ part.lifespan }}"> </progress>
            <input type="checkbox" name="my-checkbox" id="{{ part.id }}">
        </div>
        {% endfor %}
        <a class="buttonReplace" href="{{ path('part_edit') }}">Remplacer pièce</a>
        <a class="buttonAddPiece" href="{{ path('part_new') }}">Ajouter pièce</a>

    </div>

{% endblock %}
