{% extends 'base.html.twig' %}

{% block title %}Motorbox - Part index{% endblock %}

{% block body %}
    <section>
        <div class="container-vehicle flex">
            <div>
                <h1>{{ vehicle.brand }} {{ vehicle.model }}</h1>
                <h2>{{ vehicle.name }}</h2>
            </div>
            <div class= "container-fa-button">
                <a class="link-fa-edit" href ="{{ path('vehicle_edit', {id: vehicle.id}) }}">
                    <i class="fas fa-cog"></i>
                </a>
            </div>
        </div>


        <div class="sub-title">
            <h2>Temps d'utilisation total : {{ vehicle.usedHour }}H</h2>
            <button type="submit" id="sync"><i class="fas fa-sync-alt"></i></button>
        </div>


        <form class="sub-title" method="post" action="" onsubmit="return confirm('Scyncronisation de {{ vehicle.name }} . . .');">
            <h2>Temps d'utilisation total : {{ vehicle.usedHour }}H</h2>
            <input type="hidden" name="_token" value="{{ csrf_token('sync' ~ vehicle.id) }}">
            <button type="submit" class="button-reset"><i class="fas fa-sync-alt"></i></button>
        </form>



        <div class="container-parts">
            {% for part in vehicle.parts %}
                <div class="container-part">
                    <form class="space-between" method="post" action="{{ path('vehicle_parts_reset', {vehicle: vehicle.id, part: part.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir remplacer {{ part.name }} ?');">
                        <label for="name">{{ part.name }}</label>
                        <input type="hidden" name="_token" value="{{ csrf_token('reset' ~ part.id) }}">
                        <div class="flex">
                            <button type="submit" class="button-reset"><i class="fas fa-redo-alt"></i></button>
                            <a href="{{ path('vehicle_parts_edit', {vehicle: vehicle.id, part: part.id}) }}"><i class="fas fa-cog"></i></a>
                        </div>
                    </form>
                    <div>
                        <div class="progress-label">
                            <p>
                                {{ vehicle.usedHour - part.partUseTime }}h
                                {% if vehicle.usedHour - part.partUseTime >= part.lifespan %}
                                    <i class="fas fa-exclamation-circle"></i>
                                {% endif %}
                            </p>
                            <p>max {{ part.lifespan }}h</p>
                        </div>
                        <div>
                            <progress class="progress-part" value = "{{ vehicle.usedHour - part.partUseTime }}" max = "{{ part.lifespan }}"></progress>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="addPart" >
            <a href="{{ path('vehicle_parts_new', {vehicle: vehicle.id}) }}"><img src="{{ asset('build/images/icons8.png') }}"></img></a>
        </div>
    </section>
{% endblock %}
