{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}

    <section>
        <div class="container-vehicle flex">
            <div>
                <h1>
                    {{ vehicle.model }}<br>
                </h1>
                <h2>
                    {{ vehicle.brand }}
                    {{ vehicle.name }}
                </h2>
            </div>
            <div class= "container-fa-button">
                <a class="link-fa-edit" href ="{{ path('vehicle_edit', {id: vehicle.id}) }}">
                    <img class="fa-edit" src="{{ asset('build/images/edit-solid.svg') }}"></img>
                </a>
                {{ include('vehicle/_delete_form.html.twig') }}
            </div>
        </div>

        <h2 class="sub-title">Temps d'utilisation total : {{ vehicle.usedHour }}H</h2>
        <div class="container-parts">
            {% for part in vehicle.parts %}
            <div>
                <div class="space-between">
                    <label for="{{ part.id }}">{{ part.name }}</label>
                        <div class="flex icons-button">
                            <a href="{{ path('vehicle_parts_edit', {vehicle: vehicle.id, part: part.id}) }}"><img class="fa-edit" src="{{ asset('build/images/edit-solid.svg') }}"></img></a>
                            {{ include('vehicle/_delete_parts_form.html.twig') }}
                        </div>
                </div>
                <progress class="progress-part" value = "{{ vehicle.usedHour - part.PartUseTime }}" max = "{{ part.lifespan }}"> </progress>
                <input class="part-input" type="checkbox" name="my-checkbox" id="{{ part.id }}">
            </div>
            {% endfor %}
        </div>
        <div class="text-align-center">
            <a class="button" href="{{ path('vehicle_parts_new', {vehicle: vehicle.id}) }}">Ajouter pièce</a>
        </div>
    </section>

<div class="navbar-container">
    {% include "_navbar.html.twig" %}
</div>

{% endblock %}
