{% extends 'base.html.twig' %}

{% block title %}Part index{% endblock %}

{% block body %}

    <section class="nameMotor">
        <p class="box"> {{ vehicle.name }} <br>
            {{ vehicle.brand }} <br>
            {{ vehicle.model }} <br>
            <a href ="{{ path('vehicle_edit', {id: vehicle.id}) }}">
                <img class="fa-edit" src="{{ asset('build/images/edit-solid.svg') }}"></img>
            </a>
        </p>
    </section>
    <div class="flex parts">
        <h2>Temps d'utilisation total : {{ vehicle.usedHour }}H</h2>
        {% for part in vehicle.parts %}
        <div class="namePart">
            <label for="{{ part.id }}">{{ part.name }}</label>
            <a class="button" href="{{ path('vehicle_parts_edit', {vehicle: vehicle.id, part: part.id}) }}">Editer</a>
            <a class="button" href="{{ path('vehicle_parts_delete', {vehicle: vehicle.id, part: part.id}) }}">Supprimer</a>
            <progress value = "{{ vehicle.usedHour }}" max = "{{ part.lifespan }}"> </progress>
            <input type="checkbox" name="my-checkbox" id="{{ part.id }}">
        </div>
        {% endfor %}
        <a class="buttonAddPiece" href="{{ path('vehicle_parts_new', {vehicle: vehicle.id}) }}">Ajouter pièce</a>
    </div>

{% endblock %}
