{% extends 'base.html.twig' %}

{% block title %}Motorbox - Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ vehicle.name }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>Année de production</th>
                <td>{{ vehicle.productYear }}</td>
            </tr>
            <tr>
                <th>Temps d'utilisation</th>
                <td>{{ vehicle.usedHour }}</td>
            </tr>
            <tr>
                <th>IdMotorbox</th>
                <td>{{ vehicle.idMotorbox }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('vehicle_index') }}">Retour à la liste</a>

    <a class="button" href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">éditer</a>

    {{ include('vehicle/_delete_form.html.twig') }}
    {% include "_navbar.html.twig" %}
{% endblock %}
