{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block body %}
	{% include "_logo.html.twig" %}
	<div class="form-container">
		<h1>Inscription</h1>
		{{ form_start(registrationForm, {
			attr: {id: 'register_form'}
		}) }}
			<div>
				{{ form_widget(registrationForm.email, {
					attr: {placeholder: 'E-mail'}
				}) }}
			</div>
			<div>
				{{ form_widget(registrationForm.password, {
					attr: {placeholder: 'Mot de passe'}
				}) }}
			</div>
			<div>
				{{ form_row(registrationForm.agreeTerms, {
					label: 'Accepter les conditions'
				}) }}
			</div>
		{{ form_end(registrationForm) }}
		<button type="submit" form="register_form" class="button button-login">Valider</button>
	</div>
{% endblock %}
